:root {
	--first-card-clr: hsl(0, 78%, 62%);
	--second-card-clr: hsl(180, 62%, 55%);
	--third-card-clr: hsl(212, 86%, 64%);
	--fourth-card-clr: hsl(34, 97%, 64%);
	--title-clr: hsl(234, 12%, 34%);
	--paragraph-clr: hsl(229, 6%, 66%);
	--background: hsl(0, 0%, 98%);
	--card-bg: white;
}
