@import './mixins';
@import './variables';
@import './reset';
@import './base';

.head-title {
	@include flex(column);
	margin-top: 4.75rem;
	text-align: center;

	h1,
	h2 {
		font-size: 2.4rem;

		@media (max-width: 600px) {
			font-size: 2rem;
		}

		@media (max-width: 475px) {
			font-size: 1.5rem;
		}
	}

	h1 {
		font-weight: 200;
	}

	h2 {
		font-weight: 600;
	}

	p {
		max-width: 31.25rem;
		margin-top: 1rem;
	}
}

.card-container {
	display: grid;
	grid-gap: 2rem;
	grid:
		'. b .'
		's b c'
		's k c'
		'. k .';
	margin-top: 3.75rem;

	.card {
		@include flex(column, space-between, initial);
		position: relative;
		background: var(--card-bg);
		height: 15.625rem;
		max-width: 21.875rem;
		border-radius: 0.625rem;
		box-shadow: 0 0.625rem 0.625rem 0 hsl(229, 15%, 88%);
		padding: 1.875rem;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			inset: 0 0 calc(100% - 0.25rem) 0;
		}

		&.team-builder {
			grid-area: b;

			&::after {
				background: var(--first-card-clr);
			}
		}

		&.supervisor {
			grid-area: s;

			&::after {
				background: var(--second-card-clr);
			}
		}

		&.calculator {
			grid-area: c;

			&::after {
				background: var(--third-card-clr);
			}
		}

		&.karma {
			grid-area: k;

			&::after {
				background: var(--fourth-card-clr);
			}
		}

		h3 {
			font-size: 1.35rem;
			text-transform: capitalize;
		}

		p {
			font-size: 0.9rem;
			margin-top: 0.625rem;
		}

		img {
			align-self: flex-end;
		}
	}

	@media (max-width: 1200px) {
		grid:
			'. b b .'
			's s c c'
			'. k k .';
	}

	@media (max-width: 900px) {
		@include flex(column);
	}
}
